a.welcome:hover {
    background-color: #f3f2f7 !important;
    
}

a.welcome.active:hover {
    color: #212529 !important;
    box-shadow: 0 0.5rem 1rem rgba(208, 191, 238, 0.15);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: #212529 !important;
}